<div id="sidebar-{{sidebar['name']}}" class="cutcorner">
    <h3>Useful Links </h3>
    <hr>
    <table class="linktable">
        <tr>
            <td>
        		<a target="_blank" href="http://www.uberent.com/pa/">Official Site</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" href="https://forums.uberent.com/categories/planetary-annihilation.60/">Official Forum</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" href="http://pastats.tk/">PA Stats</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" href="http://www.reddit.com/r/planetaryannihilation">Subreddit</a>
            </td>
        </tr>
        <tr>
            <td>
        		<a target="_blank" rel='nofollow' href="http://pamatches.com">PA Matches</a>
            </td>
        </tr>
    </table>
</div>