{% extends "base.html" %}
{% block content %}
 	<div class="cutcorner"><h2>About</h2>
<hr>
        <p>Basically, we're a strategy site for Planetary Annihilation created, programmed, and currently run by TheSambasti. We're always looking for feedback, suggestions, and help, so if you have something you'd like to write about, videos you'd like to make, or even events you'd like to host, we can help you make those happen. Send TheSambasti a PM with some details. Also send him a PM if you have any feedback and suggestions, those are good too. Especially bad feedback, as long as it's productive, it's really helpful. If you just want to complain, please send a letter to 1600 Pennsylvania Ave NW, Washington, DC 20500, and if you're lucky obama will respond personally by banning TheSambasti from the internet.</p>
        
        <p>Oh, the actual "about" part... Our first post gives a pretty good explanation of that, so I'll just pin it below.</p>
        </div>
		{% include "article.html" %}
{% endblock %}