{% extends "base.html" %}
{% block content %}
 	<div class="cutcorner"><h2>Welcome</h2>
<hr>
or something like that... Just like PA, this site is currently in Beta.
Unless you happened to find this site with google-fu before I announced it
at least some content should be available to you. More is on the way. If you 
want to help build the site or write content or post guides or peddle your wares in some 
way, just find TheSambasti and send him a message.</div>
	{% for article in articles %}
		{% include "articlepreview.html" %}
	{% endfor %}
{% endblock %}