<html>
	<head>
    	<title>{{title}}</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
<div id="body">
    <div id="banner" class="wrapper"><h1>THIS IS A BANNER FOR THE WEBSITE</h1></div>
        <div id="topmenu" class="wrapper"><table class="menu cutcorner"><tr>
                <td>Home</td><td>Articles</td><td>Units and Buildings</td><td>Strategy Guides</td><td>Blog</td><td>About</td>
            </tr></table></div>
        <div id="content" class="wrapper cutcorner"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan neque magna. Aliquam mattis elementum felis. Nulla lobortis condimentum faucibus. Nullam iaculis consectetur ligula non condimentum. Vestibulum non elit a lorem pharetra consequat pellentesque in erat. Mauris vehicula lacus sed orci aliquet vestibulum. Phasellus in dictum turpis, et ullamcorper velit. Nam tincidunt arcu arcu, in suscipit quam bibendum sed. In hc habitasse platea dictumst. Suspendisse commodo magna orci, at laoreet nibh iaculis dapibus. Aenean non leo ac nisl dignissim rhoncus id at orci. Pellentesque consectetur est nec lacinia posuere. Maecenas condimentum gravida sollicitudin. Cras ullamcorper neque nec varius mollis. Integer vitae urna neque.</p> 
            
            <p>Fusce ut adipiscing nulla, a laoreet eros. Nam eu aliquet velit, eget mattis sapien. Nunc convallis turpis ac est rutrum pulvinar. Suspendisse congue gravida erat. Curabitur blandit in nibh eu aliquet. Maecenas sit amet orci sed est eleifend vehicula vel id turpis. Phasellus nec faucibus dui. Donec sed nisl eu eros fermentum fringilla vitae ac nisl. Duis auctor nisl nunc, at tincidunt arcu fringilla semper. Sed lacus ante, varius sed pharetra ut, imperdiet sed libero. In vulputate sit amet purus vitae rhoncus. Donec sit amet egestas nisl. 
                </p>
        </div>
        <div id="sidebar" class="wrapper cutcorner">This is our shitty sidebar!!!</div>
</div>

</html>